[33ma942690[m[33m ([m[1;36mHEAD[m[33m -> [m[1;32mfeat/1-회원가입-로그인-jwt구현[m[33m)[m feat: 로그인&회원가입 loginId로 구현
[33m28c9645[m[33m ([m[1;31morigin/dev[m[33m, [m[1;32mdev[m[33m)[m feat: Issue 템플릿 설정
[33mc8ee6fd[m feat: Issue 템플릿 설정
[33me09455a[m feat: PR 템플릿 설정
[33m85e20fc[m fix: User 연관관계 재설정
[33m39a9d58[m refactor: 도메인 리펙토링
[33m29f6b2e[m fix: @EnableJpaAuditing 설정
[33m6f78046[m feat: 도메인 수정
[33md65cec6[m feat: 도메인 추가
[33m723d626[m feat:도메인 생성
[33ma015cfd[m[33m ([m[1;31morigin/main[m[33m, [m[1;31morigin/HEAD[m[33m, [m[1;32mmain[m[33m)[m initial commit
